body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.love {
  color: red;
  cursor: pointer;
}
.dont-love {
  color: silver;
  cursor: pointer;
}
.vue {
  width: 100%;
}
.vue-input {
  display: inline;
}
.vue>label {
  position: absolute;
  color: yellow;
  font-size: 1.3em;
}
.for {
  width: 120px;
  margin: 10px auto auto auto;
  border: 1px solid white;
}
.for>ul {
  text-align: initial;
}
.timer {
  padding-top: 10px;
}
.timer>label {
  position: absolute;
  margin-left: -150px;
  color: orange;
}
.learn-redux {
  padding-top: 20px;
}
.learn-redux button {
  cursor: pointer;
}
.active {
  color: red;
}
